# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.venv/
venv/
env/
.env

# --- Home Assistant Specific ---
.storage/
.cloud/
core.*
home-assistant.log
home-assistant_v2.db

# --- OS/Editor Specific ---
.DS_Store
.vscode/
.idea/
*.swp
