name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate version
        run: |
          version=$(cat custom_components/nsw_beachwatch/manifest.json | jq -r '.version')
          if [ "$version" != "${GITHUB_REF##*/v}" ]; then
            echo "Version in manifest.json ($version) does not match release tag (${GITHUB_REF##*/})"
            exit 1
          fi
          echo "Version validation passed: $version"
